/node_modules
/vendor
/.env
/.env.backup
/storage/app/installed.lock
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/build
.DS_Store
Thumbs.db
